h1 {
    font-size: 48px;
}

ol {
    list-style: none;
}

a {
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: 24px;
}

a:hover {
    text-decoration: none;
}

li {
    margin: 15px;
    background-color: rgb(255, 186, 186);
    border-radius: 6px;
}